# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Environment variables
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.DS_Store

# IDE
.vscode
.idea
*.swp
*.swo
*~
